<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>
			<a href="http://git-scm.com/docs/git-add">Git-add</a><br />
			<span style="font-size:16px;"><span style="color: rgb(0, 0, 0);">(1) Manual Page</span></span></h1>
		<p>
			<span style="color:#0000ff;">NAME </span><br />
			git-add - Add file contents to the index<br />
			<br />
			<span style="color:#0000ff;">SYNOPSIS</span><br />
			git add [-n] [-v] [--force | -f] [--interactive | -i] [--patch | -p] [--edit | -e] [--[no-]all | --[no-]ignore-removal | [--update | -u]] [--intent-to-add | -N] [--refresh] [--ignore-errors] [--ignore-missing] [--] [<pathspec>...]<br />
			<br />
			<span style="color:#0000ff;">DESCRIPTION</span><br />
			This command updates the index using the current content found in the working tree, to prepare the content staged for the next commit. It typically adds the current content of existing paths as a whole, but with some options it can also be used to add content with only part of the changes made to the working tree files applied, or remove paths that do not exist in the working tree anymore. The &quot;index&quot; holds a snapshot of the content of the working tree, and it is this snapshot that is taken as the contents of the next commit. Thus after making any changes to the working directory, and before running the commit command, you must use the add command to add any new or modified files to the index. This command can be performed multiple times before a commit. It only adds the content of the specified file(s) at the time the add command is run; if you want subsequent changes included in the next commit, then you must run git add again to add the new content to the index. The git status command can be used to obtain a summary of which files have changes that are staged for the next commit. The git add command will not add ignored files by default. If any ignored files were explicitly specified on the command line, git add will fail with a list of ignored files. Ignored files reached by directory recursion or filename globbing performed by Git (quote your globs before the shell) will be silently ignored. The git add command can be used to add ignored files with the -f (force) option. Please see git-commit(1) for alternative ways to add content to a commit.</pathspec></p>
	</body>
</html>
