a.navbar-link {
	color: #fe2e2e;
}


.navbar-default .navbar-link {
	color:#FE2E2E;
}
 

div.navbar-header ul {
	display:inline;
}


p{font-family:"Times New Roman", Times, serif;}
a{font-family:"Times New Roman", Times, serif;}



