<!DOCTYPE html>
<html>
<head>
  <title>CuriousRailsGirls</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css" />
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "curiousrailsgirls", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<div class="container">
  <%= yield %>
</div>
<footer>
  <div class="container">
    developed by curiousrailsgirls & lisamschachtschneider
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/submitting">Git-add Manual Page</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/upcoming">Upcoming Workshops</a></li>
      </ul>
      <ul><%= link_to 'Topics', topics_path %></ul>
      <ul><%= link_to 'Projects', projects_path %></ul>
      <ul><%= link_to 'Categories', categories_path %></ul>
    </div>

    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email.rpartition('@')[0] %></strong>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
  </div>
</nav>

</html>
